
.adjust {
    display: center;
    flex-direction: column;
    align-items: center;
   
    max-width: 800%;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
  
  
  }

  .my-custom-margin {
    margin-top: 0px; 
    margin-bottom: 20px; 
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn-group .btn-primary {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 25px;                
    font-weight: bold;              
}



#hr1 {
    position: relative;
    top: -30px; 
    margin-top: 200px;
    counter-increment: hr;
    text-align: center;
    position: relative;
    background: none;
    margin: 5em 1em;
    border: none;
  
    &:before {
      content: '8-Week System';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Philosopher', sans-serif;
      font-size: 30px;
      line-height: 40px;
      color: #24c9ee;
      transition: color 0.3s;
      z-index: 0;
    }
  
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.05;
      z-index: 0; 
    }
  }


.custom-border {
    width: 700px; 
    height: 400px; 
    border: 1px solid #e0e0e0; 
    border-radius: 5px;  
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* smooth transition for hover effect */
}

.btn-group .btn-primary {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;                
    font-weight: bold;              
}

.custom-border p {
    font-family: 'Sofia Sans', sans-serif;
}

.custom-border {
    background: linear-gradient(to right, #f2f2f2, #81e1ff); 
    
}

.custom-border:hover {
    background-color: #f5f5f5; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transform: scale(1.02); 
}

.custom-border p {
    line-height: 1.5; 
    text-align: center;
}

.custom-border a.btn-primary {
    margin-top: 20px; 
    font-weight: bold; 
}

.custom-text {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #3388ff;
}



@media (max-width: 768px) {
    .custom-border {
        padding: 10px 15px;   
        transform: scale(0.95); 
    }

    .custom-border:hover {
        transform: scale(1.00);
    }
}



.text-center.mb-4 {
    
    font-family: 'Philosopher', sans-serif;
    color: #3388ff;
}


.container-fluid {
    padding: 20px; 
}





#hr2 {
    position: relative;
    top: -30px; 
    counter-increment: hr;
    text-align: center;
    position: relative;
    background: none;
    margin: 5em 1em;
    border: none;
  
    &:before {
      content: 'Booking list';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Philosopher', sans-serif;
      font-size: 30px;
      line-height: 40px;
      color: #24c9ee;
      transition: color 0.3s;
      z-index: 0;
    }
  
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.05;
      z-index: 0; 
    }
  }















@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}


#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}

.main{

    cursor: auto;
    
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}



.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;


    margin-left: 26vw;
}



.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}


.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}


