.custom-box {
  width: 350px;
  height: 220px;
  background-color: #3498db;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  top: 15%;
  left: 80%;
    text-align: center; /* Center the text */
}

.button {
  text-align: center;
  margin-top: 20px;
}

.button a {
  text-decoration: none;
}

.button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #45a049;
}