body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: black;
}

.container {
    width: 350px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(233, 241, 238);
    box-shadow: 4px 4px 200px rgb(225, 233, 233) inset,2px 2px 30px rgb(24, 20, 20);
}

fieldset {
    display: block;
    margin: auto;
    border: none;
}

.inp {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: block;
    margin-bottom: 40px;
    width: 310px;
    font-size: large;
}

input:focus,
textarea:focus,
select:focus {
    outline: none
}

div button {
    background: transparent;
    font-size: medium;
    display: block;
    margin: 25px auto;
    width: 270px;
    border: 2ps solid black;
    border-radius: 4px;
    padding: 6px;
    color: rgb(0, 0, 0);
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
}

h3 {
    text-align: center;
}

.inpCol {
    color: rgb(0, 0, 0);
}

input[type="file"] {
    border: none;
    cursor: pointer;
    margin-top: 7px;
}

.txtarea {
    color: rgb(0, 0, 0);
    background: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2{
	margin-top: 30px;
}
.login_form button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form button:hover{
	background: #151c6a;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}

#chatLog .ChatBot {
    background-color: #e6e6e6;
    text-align: left;
}

#chatLog .User {
    background-color: #66ccff;
    text-align: right;
}

.inputArea {
    margin-top: 20px;
    display: flex;
}

.inputArea input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputArea button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #66ccff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


#chatLog p {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}
